@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-color: #334155 transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 8px;
}
